@model CoreReactLab.Models.Order

@{
    Layout = "_Layout";
}


<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.admin.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.worker.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.typeWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.typeWork.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VinNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VinNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>

